{% extends "account/base.html" %} {% load i18n %}{% load account socialaccount %}{% block head_title %} {% trans "Sign In" %}{% endblock head_title %} {% block content %} <div class="container">
  
  
<div class="login-form">
      <div class="col-md-8 mt-3 pt-3 offset-md-2">
          <div class="row login account-form">
              <div class="text-center">
                  <h2>{% trans "Welcome Back!" %}</h2>
                  <h4>It's nice to see you again.</h4>
              </div>
              <form class="login username-password-signin" id="login_form" method="POST" action="{% url 'account_login' %}"> {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %} <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %} <button class="primaryAction btn" type="submit">{% trans "Sign In" %}</button> </form>
              <hr />
              <div class="text-center">
                  <p>{% blocktrans %}In order to join a swim or leave a review you must be registered with us first.</p>
                  <p>If you have not created an account yet, then please<a href="{{ signup_url }}"> sign up</a> first.{% endblocktrans %}</p>
              </div>
          </div>
      </div>
  </div>
</div>

 {% endblock content %}