@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" );
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic");

:root {
    --clr-orange: #d64e21;
    --clr-light: #f5f4f0;
    --clr-dark: #212529;
    
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--clr-light);
}

h1, h2, h3, h4, h5 {
    font-family: 'Sancreek', serif;
}


/* Navigation */
.fill-viewport-height {
    min-height: 80vh;
}

#alert-container {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
}


/* Home Page */

.masthead {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
}

.mast-image {
    height: 80vh;
    width: 100%;
    background-image: ;
}

/* account form */
.account-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 21px;
    padding: 10px;
}

.username-password-signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#id_remember,
#id_remember input,
#id_remember label {
    display: none;
}

#signup_form button {
    margin-top: 10px;
}

.signup {
    display: flex;
    flex-direction: column;
}

#signup_form input {
    width: 100%;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
}

#login_form input {
    width: 100%;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
}