{% extends "base.html" %} 

{% load static %}

{% block content %}



  <div id="logoutpage" class="container mt-5  text-center">
    <div class="row ">
        <div class="col-md-8 mt-5 offset-md-2">
            <h1>404 Error</h1>
            <p>404 Error: Page not found</p>
            <p>Let's get you back to the right place</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
        <a class="button-posts nav-link btn btn-accent pt-3 {% if request.path == home %}active" aria-current="page{% endif %}" href="{% url 'home' %}">Home</a>
        </div>
    </div>
  </div>


  {% endblock content %}