<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <ul>
        {% for Task in object_list %}
            <li>{{ Task.task_name }}</li>
            <ul>
                <li>Description: {{ Task.description }}</li>
                <li>Request Co-volunteer: {{ Task.request_covolunteer }}</li>
            </ul>
        {% empty %}
            <li>No tasks available.</li>
        {% endfor %}
    </ul>
   
</body>
</html>
